
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Title */
.title {
    font-size: 2.5rem; 
    font-weight: bold;
    margin-bottom: 20px; 
    text-align: left;
    line-height: 1.2;
    color: #333; 
    font-family: 'Arial', sans-serif; 
    margin: 3rem 1rem;
}


.about-me-section {
    padding: 20px;
    max-width: 1200px;
    margin: 6rem auto; 
}


.about-me-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 8rem;
    justify-content: center;
    align-items: flex-start; 
    gap: 2rem; 
}


.about-me-image {
    flex: 1;
    max-width: 100%;
}

.about-me-image img {
    max-width: 100%;
    height: auto; 
    border-radius: 8px;
}


.about-me-content {
    flex: 2;
    padding: 20px;
    max-width: 100%; 
    box-sizing: border-box; 
}

.about-me-content .bold-text{

    padding: 20px 0;
    font-weight: 800;
    font-size:30px;
    align-self: flex-start;
    justify-self: start;
    color: #e08d2c;

}



.about-me-columns {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.column {
    flex: 1;
    min-width: 250px;
}


.about-me-table {
    width: 100%;
    overflow-x: auto;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: auto;
    text-align: left;
}

th, td {
    padding: 15px;
    border: 1px solid #969595;
    vertical-align: top;
}

th {
    background-color: rgb(194, 189, 189);
    font-weight: bold;
    color: white;
}

th:first-child {
    background-color: #e08d2c;

}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}


@media (max-width: 768px) {
    .about-me-table {
        display: block;
        overflow-x: auto;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    thead {
        display: none; 
    }

    tbody {
        display: flex;
        flex-direction: column;
    }

    tbody tr {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        border: 1px solid #ddd;
    }

    tbody td {
        display: block;
        padding: 10px;
        border: none;
        border-bottom: 1px solid #ddd;
        position: relative;
    }

    tbody td::before {
        content: attr(data-label);
        font-weight: bold;
        margin-bottom: 5px;
        white-space: nowrap;
        display: block;
    }
}


@media (max-width: 768px) {
    .title {
        font-size: 2rem; 
    }

    .about-me-container {
        flex-direction: column;
        margin-bottom: 3rem;
    }

    .about-me-content {
        padding: 10px;
    }



}
